In [1]:
import pandas as pd

In [2]:
df =  pd.read_csv(r'../../results/strategies-simulation-optimized-variables.csv', low_memory=False)

In [4]:
df['Value'].unique()

array([  0.,   1.,  45.,   2.,   3.,   5.,   4.,  75.,  94.,  85., 113.,
        84.,  87.,  78.,  89.,  92.,  96.,  91.,  98.,  63.,  95.,  93.,
       104.])

In [5]:
df.loc[df['Value']!=0]

                           Variable  Value
616       x_CDB[low-cap,0,0,505237]    1.0
672       x_CDB[low-cap,0,0,505749]    1.0
675       x_CDB[low-cap,0,0,505757]    1.0
677       x_CDB[low-cap,0,0,505818]    1.0
681       x_CDB[low-cap,0,0,505830]    1.0
...                             ...    ...
93951034           y_BEB[low-cap,8]   94.0
93951035           y_BEB[low-cap,9]   95.0
93951036          y_BEB[low-cap,10]   93.0
93951037          y_BEB[low-cap,11]  104.0
93951038          y_BEB[low-cap,12]   87.0

[2448 rows x 2 columns]

In [6]:
df

                           Variable  Value
0         x_CDB[low-cap,0,0,528277]    0.0
1         x_CDB[low-cap,0,0,528282]    0.0
2         x_CDB[low-cap,0,0,528283]    0.0
3         x_CDB[low-cap,0,0,528286]    0.0
4         x_CDB[low-cap,0,0,528288]    0.0
...                             ...    ...
93990034       z_BEB[low-cap,999,8]    0.0
93990035       z_BEB[low-cap,999,9]    0.0
93990036      z_BEB[low-cap,999,10]    0.0
93990037      z_BEB[low-cap,999,11]    0.0
93990038      z_BEB[low-cap,999,12]    0.0

[93990039 rows x 2 columns]