In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.colors import LinearSegmentedColormap
import numpy as np

In [2]:
SQ = pd.read_csv(r'../../results/computed-fuel-rates-oct2021-sep2022.csv', low_memory=False)

In [3]:
SQ.head()

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,ServiceDateTime,DateKey,CalendarDate,Year,Month,...,Powertrain,VehicleModel,Vehicle_mass,time_delta_in_seconds,dist,Speed,Acceleration,elevation,grade,Energy
0,0,0,1365147,1365147,1365147,2021-10-01 06:43:49,8578,2021-10-01 00:00:00.000,2021,10,...,conventional,Gillig 30,25700,0,0.000000,0.000000,0.000000,45.0,0.000000,0.000000
1,1,1,1365148,1365148,1365148,2021-10-01 06:51:53,8578,2021-10-01 00:00:00.000,2021,10,...,conventional,Gillig 30,25700,484,0.594143,7.112063,0.002536,66.0,0.021959,0.325058
2,2,2,1365830,1365830,1365830,2021-10-01 06:51:53,8578,2021-10-01 00:00:00.000,2021,10,...,conventional,Gillig 30,25700,0,0.000000,0.000000,0.000000,66.0,0.000000,0.000000
3,3,3,1365831,1365831,1365831,2021-10-01 06:52:53,8578,2021-10-01 00:00:00.000,2021,10,...,conventional,Gillig 30,25700,60,0.313297,30.252048,0.087027,51.0,-0.029751,0.027469
4,4,4,1365832,1365832,1365832,2021-10-01 06:54:38,8578,2021-10-01 00:00:00.000,2021,10,...,conventional,Gillig 30,25700,105,0.421870,23.277653,-0.011465,51.0,0.000000,0.061794

In [56]:
SQ.columns

Index(['Unnamed: 0.4', 'Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0.1',
       'Unnamed: 0', 'ServiceDateTime', 'DateKey', 'CalendarDate', 'Year',
       'Month', 'OpKey', 'Operator', 'RtKey', 'RtKey2', 'Route', 'RouteName',
       'TripKey', 'Trip', 'StopKey', 'Stop', 'StopName', 'Vehicle',
       'VehicleType', 'SeatedCap', 'TotalCap', 'Lat', 'Lon', 'Boards',
       'Alights', 'Onboard', 'Bike', 'Daytype', 'Hour', 'Minute', 'Second',
       'Date', 'Powertrain', 'VehicleModel', 'Vehicle_mass',
       'time_delta_in_seconds', 'dist', 'Speed', 'Acceleration', 'elevation',
       'grade', 'Energy', 'Diesel'],
      dtype='object')

In [57]:
SQ

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,ServiceDateTime,DateKey,CalendarDate,Year,Month,...,VehicleModel,Vehicle_mass,time_delta_in_seconds,dist,Speed,Acceleration,elevation,grade,Energy,Diesel
0,0,0,1365147,1365147,1365147,2021-10-01 06:43:49,8578,2021-10-01 00:00:00.000,2021,10,...,Gillig 30,25700,0,0.000000,0.000000,0.000000,45.0,0.000000,0.000000,0.000000
1,1,1,1365148,1365148,1365148,2021-10-01 06:51:53,8578,2021-10-01 00:00:00.000,2021,10,...,Gillig 30,25700,484,0.594143,7.112063,0.002536,66.0,0.021959,0.325058,0.325058
2,2,2,1365830,1365830,1365830,2021-10-01 06:51:53,8578,2021-10-01 00:00:00.000,2021,10,...,Gillig 30,25700,0,0.000000,0.000000,0.000000,66.0,0.000000,0.000000,0.000000
3,3,3,1365831,1365831,1365831,2021-10-01 06:52:53,8578,2021-10-01 00:00:00.000,2021,10,...,Gillig 30,25700,60,0.313297,30.252048,0.087027,51.0,-0.029751,0.027469,0.027469
4,4,4,1365832,1365832,1365832,2021-10-01 06:54:38,8578,2021-10-01 00:00:00.000,2021,10,...,Gillig 30,25700,105,0.421870,23.277653,-0.011465,51.0,0.000000,0.061794,0.061794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15583903,15583903,15583903,15569308,15569308,15569308,2022-09-30 23:56:37,8942,2022-09-30 00:00:00.000,2022,9,...,NEW FLYER XDE60 (ARTIC),42250,31,0.124876,23.338188,-0.067510,0.0,0.000000,0.000000,0.000000
15583904,15583904,15583904,15569309,15569309,15569309,2022-09-30 23:56:58,8942,2022-09-30 00:00:00.000,2022,9,...,NEW FLYER XDE60 (ARTIC),42250,21,0.235011,64.836535,0.341084,52.0,0.000000,0.028437,0.028437
15583905,15583905,15583905,15569310,15569310,15569310,2022-09-30 23:58:24,8942,2022-09-30 00:00:00.000,2022,9,...,NEW FLYER XDE60 (ARTIC),42250,86,1.075675,72.465795,0.015312,50.0,-0.001155,0.076601,0.076601
15583906,15583906,15583906,15569311,15569311,15569311,2022-09-30 23:58:42,8942,2022-09-30 00:00:00.000,2022,9,...,NEW FLYER XDE60 (ARTIC),42250,18,0.198054,63.747354,-0.083602,43.0,-0.021958,0.000000,0.000000
15583907,15583907,15583907,15569312,15569312,15569312,2022-09-30 23:59:24,8942,2022-09-30 00:00:00.000,2022,9,...,NEW FLYER XDE60 (ARTIC),42250,42,0.415893,57.369774,-0.026209,46.0,0.004480,0.036425,0.036425

In [59]:
top_10_speeds = SQ['Speed'].nlargest(200)
print(top_10_speeds)

14111566    6600.106010
9387150     1392.343817
9387153     1126.537663
5050371      911.218056
6454849      880.893965
               ...
411650       153.364288
7332197      153.364288
11168370     153.364288
11728421     153.364288
9846309      151.939152
Name: Speed, Length: 200, dtype: float64

In [62]:
SQ=SQ.loc[SQ['Speed']<150]

In [64]:
SQ

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0.1,Unnamed: 0,ServiceDateTime,DateKey,CalendarDate,Year,Month,...,VehicleModel,Vehicle_mass,time_delta_in_seconds,dist,Speed,Acceleration,elevation,grade,Energy,Diesel
0,0,0,1365147,1365147,1365147,2021-10-01 06:43:49,8578,2021-10-01 00:00:00.000,2021,10,...,Gillig 30,25700,0,0.000000,0.000000,0.000000,45.0,0.000000,0.000000,0.000000
1,1,1,1365148,1365148,1365148,2021-10-01 06:51:53,8578,2021-10-01 00:00:00.000,2021,10,...,Gillig 30,25700,484,0.594143,7.112063,0.002536,66.0,0.021959,0.325058,0.325058
2,2,2,1365830,1365830,1365830,2021-10-01 06:51:53,8578,2021-10-01 00:00:00.000,2021,10,...,Gillig 30,25700,0,0.000000,0.000000,0.000000,66.0,0.000000,0.000000,0.000000
3,3,3,1365831,1365831,1365831,2021-10-01 06:52:53,8578,2021-10-01 00:00:00.000,2021,10,...,Gillig 30,25700,60,0.313297,30.252048,0.087027,51.0,-0.029751,0.027469,0.027469
4,4,4,1365832,1365832,1365832,2021-10-01 06:54:38,8578,2021-10-01 00:00:00.000,2021,10,...,Gillig 30,25700,105,0.421870,23.277653,-0.011465,51.0,0.000000,0.061794,0.061794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15583903,15583903,15583903,15569308,15569308,15569308,2022-09-30 23:56:37,8942,2022-09-30 00:00:00.000,2022,9,...,NEW FLYER XDE60 (ARTIC),42250,31,0.124876,23.338188,-0.067510,0.0,0.000000,0.000000,0.000000
15583904,15583904,15583904,15569309,15569309,15569309,2022-09-30 23:56:58,8942,2022-09-30 00:00:00.000,2022,9,...,NEW FLYER XDE60 (ARTIC),42250,21,0.235011,64.836535,0.341084,52.0,0.000000,0.028437,0.028437
15583905,15583905,15583905,15569310,15569310,15569310,2022-09-30 23:58:24,8942,2022-09-30 00:00:00.000,2022,9,...,NEW FLYER XDE60 (ARTIC),42250,86,1.075675,72.465795,0.015312,50.0,-0.001155,0.076601,0.076601
15583906,15583906,15583906,15569311,15569311,15569311,2022-09-30 23:58:42,8942,2022-09-30 00:00:00.000,2022,9,...,NEW FLYER XDE60 (ARTIC),42250,18,0.198054,63.747354,-0.083602,43.0,-0.021958,0.000000,0.000000
15583907,15583907,15583907,15569312,15569312,15569312,2022-09-30 23:59:24,8942,2022-09-30 00:00:00.000,2022,9,...,NEW FLYER XDE60 (ARTIC),42250,42,0.415893,57.369774,-0.026209,46.0,0.004480,0.036425,0.036425

In [ ]:
### 209 rows dropped with speed more than 150 mph

In [65]:
SQ['Diesel'] = (SQ['Powertrain'].isin(['conventional', 'hybrid']) * SQ['Energy'])

In [66]:
SQ['Diesel']

0           0.000000
1           0.325058
2           0.000000
3           0.027469
4           0.061794
              ...
15583903    0.000000
15583904    0.028437
15583905    0.076601
15583906    0.000000
15583907    0.036425
Name: Diesel, Length: 15583699, dtype: float64

In [67]:
result = SQ.groupby('Date')['Diesel'].sum().reset_index()

In [68]:
result

           Date       Diesel
0    2021-10-01  3983.579011
1    2021-10-02  2355.385148
2    2021-10-03  1056.628379
3    2021-10-04  3689.101667
4    2021-10-05  3721.028308
..          ...          ...
358  2022-09-26  3309.927455
359  2022-09-27  3483.426838
360  2022-09-28  3341.437897
361  2022-09-29  3439.409862
362  2022-09-30  3460.212304

[363 rows x 2 columns]

In [69]:
highest_energy_index = result['Diesel'].idxmax()
row_with_highest_diesel = result.loc[highest_energy_index]

In [70]:
row_with_highest_diesel

Date       2021-10-01
Diesel    3983.579011
Name: 0, dtype: object

In [71]:
result = SQ.groupby('Date').agg({
    'TripKey': 'nunique',
    'Diesel': 'sum'
}).reset_index()

result.rename(columns={'TripKey': 'UniqueTripsCount'}, inplace=True)

In [72]:
result

           Date  UniqueTripsCount       Diesel
0    2021-10-01              2407  3983.579011
1    2021-10-02              1372  2355.385148
2    2021-10-03               682  1056.628379
3    2021-10-04              2394  3689.101667
4    2021-10-05              2344  3721.028308
..          ...               ...          ...
358  2022-09-26              2256  3309.927455
359  2022-09-27              2262  3483.426838
360  2022-09-28              2274  3341.437897
361  2022-09-29              2271  3439.409862
362  2022-09-30              2290  3460.212304

[363 rows x 3 columns]

In [73]:
highest_trips_index = result['UniqueTripsCount'].idxmax()
row_with_highest_trips = result.loc[highest_trips_index]

In [74]:
row_with_highest_trips

Date                 2021-10-29
UniqueTripsCount           2409
Diesel              3754.319074
Name: 28, dtype: object

In [75]:
result.loc[highest_energy_index]

Date                 2021-10-01
UniqueTripsCount           2407
Diesel              3983.579011
Name: 0, dtype: object

In [78]:
reference_diesel = result[result['Date'] == '2021-10-29']['Diesel'].values[0]

# Compute the ratio for each day
result['DieselRatio'] = result['Diesel'] / reference_diesel

In [79]:
result

           Date  UniqueTripsCount       Diesel  DieselRatio
0    2021-10-01              2407  3983.579011     1.061066
1    2021-10-02              1372  2355.385148     0.627380
2    2021-10-03               682  1056.628379     0.281443
3    2021-10-04              2394  3689.101667     0.982629
4    2021-10-05              2344  3721.028308     0.991133
..          ...               ...          ...          ...
358  2022-09-26              2256  3309.927455     0.881632
359  2022-09-27              2262  3483.426838     0.927845
360  2022-09-28              2274  3341.437897     0.890025
361  2022-09-29              2271  3439.409862     0.916121
362  2022-09-30              2290  3460.212304     0.921662

[363 rows x 4 columns]

In [81]:
result.to_csv(r'../../results/diesel-consumption-distribution-compared-to-busiest-day.csv', index=False)