In [8]:
from shapely.geometry import Point
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
from haversine import haversine
from datetime import datetime
import seaborn as sns
import matplotlib
from matplotlib.pyplot import figure
from requests import get
from pandas import json_normalize
#import geopandas as gpd
#from geopandas import GeoDataFrame

In [12]:
df = pd.read_csv('../../data/tidy/stops-lon-lat.csv', delimiter=',', low_memory=False)

In [13]:
df

      stopid       lat       lon
0          1  42.47704 -72.60745
1          2  42.47255 -72.60140
2          4  42.46802 -72.59544
3          6  42.46539 -72.57587
4          7  42.45935 -72.57845
...      ...       ...       ...
1843   11144  42.20812 -72.60650
1844   11701  42.37166 -72.48001
1845   12601  42.36747 -72.47976
1846   12901  42.36507 -72.48429
1847   13101  42.36330 -72.48833

[1848 rows x 3 columns]

In [26]:
def get_elevation(lat = None, lon = None):
    '''
        script for returning elevation in m from lat, long
    '''
    if lat is None or lon is None: return None
    
    query = ('https://api.open-elevation.com/api/v1/lookup'
             f'?locations={lat},{lon}')
    
    # Request with a timeout for slow responses
    r = get(query, timeout = 20)

    # Only get the json response in case of 200 or 201
    if r.status_code == 200 or r.status_code == 201:
        elevation = json_normalize(r.json(), 'results')['elevation'].values[0]
    else: 
        elevation = None
    return elevation

In [18]:
df.loc[1,'lon']

-72.6014

In [ ]:
df.to

In [28]:
for i in df.index[1:5]:
    elevation = get_elevation(lat = df.loc[i , 'lat'], lon = df.loc[i , 'lon'])
    df.at[i, 'elevation'] = elevation

In [29]:
df.head()

   stopid       lat       lon  elevation
0       1  42.47704 -72.60745        NaN
1       2  42.47255 -72.60140       67.0
2       4  42.46802 -72.59544       66.0
3       6  42.46539 -72.57587       42.0
4       7  42.45935 -72.57845       46.0

In [36]:
df.to_csv('../../results/stop-elevations.csv',index=False)

Object `to_csv()` not found.