In [1]:
import pandas as pd

In [2]:
# Read dataframes of all-CDB, all-HEB, and all BEB with runs included
df_CDB = pd.read_csv(r'../../results/computed-fuel-rates-runs-all-CDB.csv', low_memory=False)
df_HEB = pd.read_csv(r'../../results/computed-fuel-rates-runs-all-HEB.csv', low_memory=False)
df_BEB = pd.read_csv(r'../../results/computed-fuel-rates-runs-all-BEB.csv', low_memory=False)

In [2]:
# Read dataframes of all-CDB, all-HEB, and all BEB with runs included
df_CDB = pd.read_csv(r'../../results/computed-fuel-rates-runs-all-CDB.csv', low_memory=False)
df_HEB = pd.read_csv(r'../../results/computed-fuel-rates-runs-all-HEB.csv', low_memory=False)
df_BEB = pd.read_csv(r'../../results/computed-fuel-rates-runs-all-BEB.csv', low_memory=False)

In [3]:
df_CDB.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'ServiceDateTime', 'DateKey',
       'CalendarDate', 'Year', 'Month', 'OpKey', 'Operator', 'RtKey', 'RtKey2',
       'Route', 'RouteName', 'TripKey', 'Trip', 'StopKey', 'Stop', 'StopName',
       'Vehicle', 'VehicleType', 'SeatedCap', 'TotalCap', 'Lat', 'Lon',
       'Boards', 'Alights', 'Onboard', 'Bike', 'Daytype', 'Hour', 'Minute',
       'Second', 'Date', 'Powertrain', 'VehicleModel', 'Vehicle_mass',
       'time_delta_in_seconds', 'dist', 'Speed', 'Acceleration', 'elevation',
       'grade', 'VehicleWeight(lb)', 'Energy', 'stop_index', 'run'],
      dtype='object')

In [7]:
# Load your GTFS static files
df_gtfs = pd.read_csv(r'../../data/tidy/google_transit/trips.txt')
df_gtfs['trip_id'] = df_gtfs['trip_id'].astype(int)

ValueError: invalid literal for int() with base 10: '4017904-N2305-VATCo-Weekday-99'

In [6]:
df_CDB_merged = pd.merge(df_CDB, df_gtfs, left_on='TripKey', right_on='trip_id', how='left')

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat

In [8]:
df_gtfs

,route_id,service_id,trip_id,trip_headsign,direction_id,block_id,shape_id,wheelchair_accessible,bikes_allowed
0,R41,N2305-VATCo-Weekday-99,4017904-N2305-VATCo-Weekday-99,"Northampton via Holyoke C.C., Easthampton",0,426368,R410061,1,1
1,R41,N2305-VATCo-Weekday-99-1000000,4017905-N2305-VATCo-Weekday-99-1000000,"Northampton via Holyoke C.C., Easthampton",0,426367,R410061,1,1
2,R41,N2305-VATCo-Weekday-99,4017906-N2305-VATCo-Weekday-99,"Northampton via Holyoke C.C., Easthampton",0,426369,R410061,1,1
3,R41,N2305-VATCo-Weekday-99-1000000,4017907-N2305-VATCo-Weekday-99-1000000,Northampton,0,426367,R410061,1,1
4,R41,N2305-VATCo-Weekday-99,4017908-N2305-VATCo-Weekday-99,"Northampton via Holyoke C.C., Easthampton",0,426369,R410061,1,1
...,...,...,...,...,...,...,...,...,...
11371,33,UM2223-UMTS-Sunday-23,3835768-UM2223-UMTS-Sunday-23,Puffers Pond,0,406730,330540,1,1
11372,B79,UM2223-UMTS-Sunday-23,3835777-UM2223-UMTS-Sunday-23,Amherst,1,406732,B790008,1,1
11373,B79,UM2223-UMTS-Sunday-23,3835778-UM2223-UMTS-Sunday-23,Worcester,0,406732,B790007,1,1
11374,B79,UM2223-UMTS-Sunday-23,3835779-UM2223-UMTS-Sunday-23,Worcester,0,406731,B790007,1,1
11375,B79,UM2223-UMTS-Sunday-23,3835780-UM2223-UMTS-Sunday-23,Amherst,1,406731,B790008,1,1

In [10]:
df_CDB.loc[df_CDB['TripKey']==3835779]

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, ServiceDateTime, DateKey, CalendarDate, Year, Month, OpKey, Operator, RtKey, RtKey2, Route, RouteName, TripKey, Trip, StopKey, Stop, StopName, Vehicle, VehicleType, SeatedCap, TotalCap, Lat, Lon, Boards, Alights, Onboard, Bike, Daytype, Hour, Minute, Second, Date, Powertrain, VehicleModel, Vehicle_mass, time_delta_in_seconds, dist, Speed, Acceleration, elevation, grade, VehicleWeight(lb), Energy, stop_index, run]
Index: []

[0 rows x 46 columns]

In [12]:
df_CDB[['TripKey','Trip']]

          TripKey        Trip
0          510824  (X) 0757-N
1          510824  (X) 0757-N
2          510824  (X) 0757-N
3          510824  (X) 0757-N
4          510824  (X) 0757-N
...           ...         ...
15583903   660365      1700-S
15583904   660365      1700-S
15583905   660365      1700-S
15583906   660365      1700-S
15583907   660365      1700-S

[15583908 rows x 2 columns]

In [16]:
df_CDB.loc[df_CDB['TripKey']=='3835768']

Empty DataFrame
Columns: [Unnamed: 0.1, Unnamed: 0, ServiceDateTime, DateKey, CalendarDate, Year, Month, OpKey, Operator, RtKey, RtKey2, Route, RouteName, TripKey, Trip, StopKey, Stop, StopName, Vehicle, VehicleType, SeatedCap, TotalCap, Lat, Lon, Boards, Alights, Onboard, Bike, Daytype, Hour, Minute, Second, Date, Powertrain, VehicleModel, Vehicle_mass, time_delta_in_seconds, dist, Speed, Acceleration, elevation, grade, VehicleWeight(lb), Energy, stop_index, run]
Index: []

[0 rows x 46 columns]

In [17]:
df_CDB['TripKey'].unique()

array([510824, 510829, 510846, ..., 660590, 660868, 663681], dtype=int64)

In [20]:
df_BEB['Route'].unique()

array(['30', '31', '33', '34', '35', '38', '39E', '45', '46', '801',
       '802', '803', '804', '806', '820', '821', '823', '824', '892',
       '902', '921', '943', '9999', 'B12', 'B17', 'B23', 'B4', 'B43',
       'B48', 'B6', 'B7', 'B9', 'G1', 'G2', 'G3', 'G5', 'G73', 'P11',
       'P20', 'P21', 'R10', 'R14', 'R24', 'R29', 'R41', 'R42', 'R44',
       'X90', 'X92', '805', '36', 'B79', '890'], dtype=object)