In [51]:
import pandas as pd

In [52]:
df_final = pd.read_csv(r'../../results/computed-fuel-rates.csv', delimiter=',', skiprows=0, low_memory=False)

In [53]:
df_final.columns

Index(['Unnamed: 0.4', 'Unnamed: 0.3', 'Unnamed: 0.2', 'ServiceDateTime',
       'Unnamed: 0', 'Unnamed: 0.1', 'DateKey', 'CalendarDate', 'Year',
       'Month', 'OpKey', 'Operator', 'RtKey', 'RtKey2', 'Route', 'RouteName',
       'TripKey', 'Trip', 'StopKey', 'Stop', 'StopName', 'Lat', 'Lon',
       'Vehicle', 'VehicleType', 'SeatedCap', 'TotalCap', 'Boards', 'Alights',
       'Onboard', 'Bike', 'Wheelchair', 'Weekday', 'Hour', 'Minute', 'Second',
       'Date', 'Daytype', 'time', 'geometry', 'dist', 'Speed', 'Acceleration',
       'time_delta', 'time_delta_in_seconds', 'Powertrain', 'VehicleModel',
       'Vehicle_mass', 'Energy'],
      dtype='object')

In [54]:
len(df_final['Vehicle'].unique())

178

In [55]:
df_final.Vehicle_mass

0          26900.0
1          26900.0
2          26900.0
3          26900.0
4          26900.0
            ...
1361544    26900.0
1361545    26900.0
1361546    26900.0
1361547    26900.0
1361548    26900.0
Name: Vehicle_mass, Length: 1361549, dtype: float64

In [56]:
zeros = df_final[df_final['Energy'] == 0]
zeros

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,ServiceDateTime,Unnamed: 0,Unnamed: 0.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,Energy
0,112024,112024,0,2022-04-04 06:43:24,0,112564,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.6295 42.33369),0.000000,0.000000,0.000000,0,0.0,conventional,0,26900.0,0.0
1,112500,112500,1,2022-04-04 06:51:27,1,109326,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.627342,0.000000,0.000000,0 days 00:08:03,483.0,conventional,0,26900.0,0.0
2,112501,112501,2,2022-04-04 06:51:27,2,112565,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.0
16,114379,114379,16,2022-04-04 07:20:47,16,109340,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.57411 42.25425),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.0
32,116181,116181,33,2022-04-04 07:52:30,33,109357,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.000000,0.000000,0.000000,0 days 00:09:45,585.0,conventional,0,26900.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361450,1360727,1360727,1361449,2022-04-30 21:34:29,1361449,1325336,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.005975,0.170518,-0.031859,0 days 00:00:00,0.0,conventional,0,26900.0,0.0
1361479,1361035,1361035,1361479,2022-04-30 22:17:02,1361479,1325425,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.51882 42.37307),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.0
1361507,1361258,1361258,1361508,2022-04-30 23:00:30,1361508,1325484,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.000000,0.000000,0.000000,0 days 00:08:54,534.0,conventional,0,26900.0,0.0
1361508,1361259,1361259,1361507,2022-04-30 23:00:30,1361507,1325453,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.005975,0.064822,-0.007034,0 days 00:00:00,0.0,conventional,0,26900.0,0.0
1361537,1361463,1361463,1361537,2022-04-30 23:42:14,1361537,1325559,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.51882 42.37307),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.0

In [8]:
df_final.sort_values(by=['Vehicle','ServiceDateTime'], ascending=True, inplace=True)

In [9]:
df_final

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,ServiceDateTime,Unnamed: 0,Unnamed: 0.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,Energy
0,112024,112024,0,2022-04-04 06:43:24,0,112564,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.6295 42.33369),0.000000,0.000000,0.000000,0,0.0,conventional,0,26900.0,0.000000
1,112500,112500,1,2022-04-04 06:51:27,1,109326,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.627342,0.000000,0.000000,0 days 00:08:03,483.0,conventional,0,26900.0,0.000000
2,112501,112501,2,2022-04-04 06:51:27,2,112565,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.000000
3,112584,112584,3,2022-04-04 06:52:52,3,109327,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63305 42.3177),0.313431,21.363553,0.069816,0 days 00:01:25,85.0,conventional,0,26900.0,0.635820
4,112675,112675,4,2022-04-04 06:54:33,4,109328,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.62706 42.32163),0.421734,24.191762,0.007778,0 days 00:01:41,101.0,conventional,0,26900.0,0.521954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361544,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,26900.0,0.277932
1361545,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,26900.0,0.202286
1361546,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,26900.0,0.006063
1361547,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,26900.0,0.285750
1361548,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,26900.0,1.487070

In [10]:
for i in df_final.index:
    if i==0:
        df_final.at[i , 'Energy'] = 0
    elif df_final['Vehicle_mass'].loc[i]==0:
        df_final.at[i , 'Energy'] = 0
    else:
        if df_final['Vehicle'].loc[i]==df_final['Vehicle'].loc[i-1]:
            if df_final['Date'].loc[i]!=df_final['Date'].loc[i-1]:
                df_final.at[i , 'Energy'] = 0
        else:
            df_final.at[i , 'Energy'] = 0

In [12]:
df_final

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,ServiceDateTime,Unnamed: 0,Unnamed: 0.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,Energy
0,112024,112024,0,2022-04-04 06:43:24,0,112564,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.6295 42.33369),0.000000,0.000000,0.000000,0,0.0,conventional,0,26900.0,0.000000
1,112500,112500,1,2022-04-04 06:51:27,1,109326,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.627342,0.000000,0.000000,0 days 00:08:03,483.0,conventional,0,26900.0,0.000000
2,112501,112501,2,2022-04-04 06:51:27,2,112565,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.000000
3,112584,112584,3,2022-04-04 06:52:52,3,109327,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63305 42.3177),0.313431,21.363553,0.069816,0 days 00:01:25,85.0,conventional,0,26900.0,0.635820
4,112675,112675,4,2022-04-04 06:54:33,4,109328,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.62706 42.32163),0.421734,24.191762,0.007778,0 days 00:01:41,101.0,conventional,0,26900.0,0.521954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361544,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,26900.0,0.277932
1361545,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,26900.0,0.202286
1361546,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,26900.0,0.006063
1361547,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,26900.0,0.285750
1361548,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,26900.0,1.487070

In [13]:
zeros = df_final[df_final['Energy'] == 0]
zeros

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,ServiceDateTime,Unnamed: 0,Unnamed: 0.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,Energy
0,112024,112024,0,2022-04-04 06:43:24,0,112564,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.6295 42.33369),0.000000,0.000000,0.000000,0,0.0,conventional,0,26900.0,0.0
1,112500,112500,1,2022-04-04 06:51:27,1,109326,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.627342,0.000000,0.000000,0 days 00:08:03,483.0,conventional,0,26900.0,0.0
2,112501,112501,2,2022-04-04 06:51:27,2,112565,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.0
16,114379,114379,16,2022-04-04 07:20:47,16,109340,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.57411 42.25425),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.0
32,116181,116181,33,2022-04-04 07:52:30,33,109357,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.000000,0.000000,0.000000,0 days 00:09:45,585.0,conventional,0,26900.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361450,1360727,1360727,1361449,2022-04-30 21:34:29,1361449,1325336,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.005975,0.170518,-0.031859,0 days 00:00:00,0.0,conventional,0,26900.0,0.0
1361479,1361035,1361035,1361479,2022-04-30 22:17:02,1361479,1325425,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.51882 42.37307),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.0
1361507,1361258,1361258,1361508,2022-04-30 23:00:30,1361508,1325484,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.000000,0.000000,0.000000,0 days 00:08:54,534.0,conventional,0,26900.0,0.0
1361508,1361259,1361259,1361507,2022-04-30 23:00:30,1361507,1325453,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.005975,0.064822,-0.007034,0 days 00:00:00,0.0,conventional,0,26900.0,0.0
1361537,1361463,1361463,1361537,2022-04-30 23:42:14,1361537,1325559,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.51882 42.37307),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.0

In [14]:
nonzeros = df_final[df_final['Energy'] != 0]
nonzeros

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,ServiceDateTime,Unnamed: 0,Unnamed: 0.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,Energy
3,112584,112584,3,2022-04-04 06:52:52,3,109327,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63305 42.3177),0.313431,21.363553,0.069816,0 days 00:01:25,85.0,conventional,0,26900.0,0.635820
4,112675,112675,4,2022-04-04 06:54:33,4,109328,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.62706 42.32163),0.421734,24.191762,0.007778,0 days 00:01:41,101.0,conventional,0,26900.0,0.521954
5,112735,112735,5,2022-04-04 06:55:38,5,109329,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.62412 42.32895),0.253127,22.561887,-0.006965,0 days 00:01:05,65.0,conventional,0,26900.0,0.000713
6,112821,112821,6,2022-04-04 06:56:59,6,109330,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.61961 42.33479),0.334105,23.897266,0.004579,0 days 00:01:21,81.0,conventional,0,26900.0,0.398505
7,112913,112913,7,2022-04-04 06:58:25,7,109331,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.60588 42.33741),0.950194,64.012387,0.129571,0 days 00:01:26,86.0,conventional,0,26900.0,3.136412
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361544,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,26900.0,0.277932
1361545,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,26900.0,0.202286
1361546,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,26900.0,0.006063
1361547,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,26900.0,0.285750
1361548,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,26900.0,1.487070

In [15]:
df_final

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,ServiceDateTime,Unnamed: 0,Unnamed: 0.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,Energy
0,112024,112024,0,2022-04-04 06:43:24,0,112564,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.6295 42.33369),0.000000,0.000000,0.000000,0,0.0,conventional,0,26900.0,0.000000
1,112500,112500,1,2022-04-04 06:51:27,1,109326,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.627342,0.000000,0.000000,0 days 00:08:03,483.0,conventional,0,26900.0,0.000000
2,112501,112501,2,2022-04-04 06:51:27,2,112565,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.000000
3,112584,112584,3,2022-04-04 06:52:52,3,109327,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.63305 42.3177),0.313431,21.363553,0.069816,0 days 00:01:25,85.0,conventional,0,26900.0,0.635820
4,112675,112675,4,2022-04-04 06:54:33,4,109328,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.62706 42.32163),0.421734,24.191762,0.007778,0 days 00:01:41,101.0,conventional,0,26900.0,0.521954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361544,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,26900.0,0.277932
1361545,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,26900.0,0.202286
1361546,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,26900.0,0.006063
1361547,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,26900.0,0.285750
1361548,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,26900.0,1.487070

In [16]:
df_final.to_csv(r'../../results/computed-fuel-rates.csv')

In [17]:
df_final['Energy']

0          0.000000
1          0.000000
2          0.000000
3          0.635820
4          0.521954
             ...
1361544    0.277932
1361545    0.202286
1361546    0.006063
1361547    0.285750
1361548    1.487070
Name: Energy, Length: 1361549, dtype: float64

In [18]:
df_final['Energy'].dtypes

dtype('float64')

In [19]:
df_final = pd.read_csv(r'../../results/computed-fuel-rates.csv', delimiter=',', skiprows=0, low_memory=False)

In [20]:
df_final

,Unnamed: 0.5,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,ServiceDateTime,Unnamed: 0,Unnamed: 0.1,DateKey,CalendarDate,Year,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,Energy
0,0,112024,112024,0,2022-04-04 06:43:24,0,112564,8763,2022-04-04 00:00:00.000,2022,...,POINT (-72.6295 42.33369),0.000000,0.000000,0.000000,0,0.0,conventional,0,26900.0,0.000000
1,1,112500,112500,1,2022-04-04 06:51:27,1,109326,8763,2022-04-04 00:00:00.000,2022,...,POINT (-72.63755 42.31962),0.627342,0.000000,0.000000,0 days 00:08:03,483.0,conventional,0,26900.0,0.000000
2,2,112501,112501,2,2022-04-04 06:51:27,2,112565,8763,2022-04-04 00:00:00.000,2022,...,POINT (-72.63755 42.31962),0.000000,0.000000,0.000000,0 days 00:00:00,0.0,conventional,0,26900.0,0.000000
3,3,112584,112584,3,2022-04-04 06:52:52,3,109327,8763,2022-04-04 00:00:00.000,2022,...,POINT (-72.63305 42.3177),0.313431,21.363553,0.069816,0 days 00:01:25,85.0,conventional,0,26900.0,0.635820
4,4,112675,112675,4,2022-04-04 06:54:33,4,109328,8763,2022-04-04 00:00:00.000,2022,...,POINT (-72.62706 42.32163),0.421734,24.191762,0.007778,0 days 00:01:41,101.0,conventional,0,26900.0,0.521954
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1361544,1361544,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,26900.0,0.277932
1361545,1361545,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,26900.0,0.202286
1361546,1361546,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,26900.0,0.006063
1361547,1361547,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,26900.0,0.285750
1361548,1361548,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,26900.0,1.487070