In [1]:
import pandas as pd

In [4]:
l_BM_x_variables = pd.read_csv(r'../../results/lowcap-balanced-transition-optimized-variables.csv', low_memory=False)

In [5]:
l_BM_coefficients = pd.read_csv(r'../../results/lowcap-balanced-transition-coefficients.csv', low_memory=False)

In [6]:
l_BM_variables

                      Variable  Value
0      x_CDB[low-cap,0,528277]    1.0
1      x_CDB[low-cap,0,528282]    1.0
2      x_CDB[low-cap,0,528283]    1.0
3      x_CDB[low-cap,0,528286]    1.0
4      x_CDB[low-cap,0,528288]    1.0
...                        ...    ...
99451         z_HEB_low-cap_12   -0.0
99452         z_BEB_low-cap_12   -0.0
99453         z_CDB_low-cap_13   -0.0
99454         z_HEB_low-cap_13    1.0
99455         z_BEB_low-cap_13   -0.0

[99456 rows x 2 columns]

In [8]:
l_BM_coefficients

                      Variable  Coefficient
0       ('low-cap', 0, 528277)     2.117975
1       ('low-cap', 1, 528277)     2.117975
2       ('low-cap', 2, 528277)     2.117975
3       ('low-cap', 3, 528277)     2.117975
4       ('low-cap', 4, 528277)     2.117975
...                        ...          ...
99367   ('low-cap', 9, 507069)     0.000000
99368  ('low-cap', 10, 507069)     0.000000
99369  ('low-cap', 11, 507069)     0.000000
99370  ('low-cap', 12, 507069)     0.000000
99371  ('low-cap', 13, 507069)     0.000000

[99372 rows x 2 columns]

In [ ]:
h_BM_variables = pd.read_csv(r'../../results/highcap-balanced-transition-optimized-variables.csv', low_memory=False)

In [ ]:
h_BM_coefficients = pd.read_csv(r'../../results/highcap-balanced-transition-coefficients.csv', low_memory=False)