In [1]:
import pandas as pd

In [48]:
df = pd.read_csv(r'../../data/raw/Apr2022LatLon.csv', delimiter=',', skiprows=0, low_memory=False)

In [49]:
len(df['Stop'].unique())

1849

In [50]:
df_stops=df[["Stop", "Lat", "Lon"]]

In [51]:
df_stops = df_stops.groupby(['Stop']).max().reset_index()

In [52]:
df_stops

       Stop       Lat       Lon
0         0       NaN       NaN
1         1  42.47704 -72.60745
2         2  42.47255 -72.60140
3         4  42.46802 -72.59544
4         6  42.46539 -72.57587
...     ...       ...       ...
1844  11144  42.20812 -72.60650
1845  11701  42.37166 -72.48001
1846  12601  42.36747 -72.47976
1847  12901  42.36507 -72.48429
1848  13101  42.36330 -72.48833

[1849 rows x 3 columns]

In [53]:
df_stops.to_csv(r'../../data/tidy/stops-lan-lat.csv')