In [1]:
import pandas as pd
import numpy as np

In [2]:
df_trajectories = pd.read_csv('../../results/trajectories-mapped-powertrain-weight.csv', delimiter=',', low_memory=False)
print(len(df_trajectories['Vehicle'].unique()))

178

In [3]:
df_elevation = pd.read_csv('../../results/stop-elevations.csv', delimiter=',', low_memory=False)
mydict = df_elevation.set_index('stopid').to_dict()['elevation']
df_trajectories['elevation'] = df_trajectories['Stop'].map(mydict)
print(df_trajectories['elevation'])

0          45.0
1          66.0
2          66.0
3          51.0
4          51.0
           ...
1360782    53.0
1360783    54.0
1360784    54.0
1360785    53.0
1360786    52.0
Name: elevation, Length: 1360787, dtype: float64

In [4]:
df_trajectories['elevation'].unique()

array([ 45.,  66.,  51.,  43.,  46.,  40.,  48.,  62.,  36.,  72.,  74.,
        83.,  59.,  70.,  69.,  82.,  39.,  34.,  49.,  nan,  64., 134.,
       135., 129., 136., 114.,  98.,  94.,  85.,  80.,  16.,  20.,  71.,
        63.,  65.,  73.,  60.,  56.,  58.,  54.,  44.,  38.,  27.,  19.,
        21.,  18.,  29.,  26.,  35.,  22.,  28.,  47.,  61.,  68.,  67.,
        25.,  30.,  31.,  41.,  33.,  23.,  24.,  55.,  50.,  81.,  86.,
        78.,  96.,  90.,  92.,  97., 106.,  84.,  32.,  57., 123.,  42.,
        37.,  13.,  17.,  53.,  52.,  14.,  77.,  79.,  75., 113., 174.,
       170.,  87.,  91., 100.,  95.,  76., 144., 145., 119., 110.,  99.,
        88., 105., 101., 132., 111., 115.,  89.,  93., 121., 124., 126.,
       108., 102., 171., 156., 178., 186., 188., 155., 109., 122., 116.,
       194., 150., 147., 131., 118., 167., 138., 127., 104.])

In [5]:
df_trajectories.sort_values(by=['Vehicle','ServiceDateTime'], ascending=True, inplace=True)
grade=[]
for i in df_trajectories.index:
    if i==0:
        grade.append(0)
    elif df_trajectories['dist'].loc[i] == 0:
        grade.append(0)       
    else:
        elevation_diff = (df_trajectories['elevation'].loc[i] - df_trajectories['elevation'].loc[i-1]) /1000 # converts m to km
        distance = df_trajectories['dist'].loc[i] * 1.61 # converts mile to km
        if elevation_diff**2 < distance**2:            
            grade_current = elevation_diff / np.sqrt ((distance**2)-(elevation_diff**2)) 
            grade.append(grade_current)
        else:
            grade.append(0)            
df_trajectories['grade'] = grade

In [6]:
df_trajectories['grade'].unique()

array([ 0.        ,  0.02079615, -0.02973824, ...,  0.00812523,
        0.03102752,  0.01357649])

In [7]:
print(len(df_trajectories['Vehicle'].unique()))

178

In [8]:
df_trajectories.to_csv('../../results/trajectories-mapped-powertrain-weight-grade.csv')

In [9]:
df_trajectories[['Powertrain','VehicleModel']].loc[df_trajectories['Vehicle'] == 7902]

        Powertrain             VehicleModel
1355789     hybrid  NEW FLYER XDE60 (ARTIC)
1355790     hybrid  NEW FLYER XDE60 (ARTIC)
1355791     hybrid  NEW FLYER XDE60 (ARTIC)
1355792     hybrid  NEW FLYER XDE60 (ARTIC)
1355793     hybrid  NEW FLYER XDE60 (ARTIC)
...            ...                      ...
1360782     hybrid  NEW FLYER XDE60 (ARTIC)
1360783     hybrid  NEW FLYER XDE60 (ARTIC)
1360784     hybrid  NEW FLYER XDE60 (ARTIC)
1360785     hybrid  NEW FLYER XDE60 (ARTIC)
1360786     hybrid  NEW FLYER XDE60 (ARTIC)

[4998 rows x 2 columns]