In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime as dt
from matplotlib.pyplot import figure
import matplotlib.dates as mdates
import datetime
import seaborn as sns

In [3]:
df_validation = pd.read_csv(r'../../data/tidy/energy_validation_april2022.csv', delimiter=',', skiprows=0, low_memory=False)

In [34]:
df_model = pd.read_csv(r'../../results/computed-fuel-rates.csv', delimiter=',', skiprows=0, low_memory=False)

In [36]:
len(df_model['Vehicle'].unique())

140

In [5]:
df_model[df_model['Vehicle_mass']==0]

,Unnamed: 0.4,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0,ServiceDateTime,Unnamed: 0.1,Unnamed: 0.1.1,DateKey,CalendarDate,Year,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,FuelRate/Energy
304823,304823,196799,196799,310192,2022-04-05 15:25:46,310192,188911,8764,2022-04-05 00:00:00.000,2022,...,POINT (-72.58206 42.13765),0.000000,0.000000,0.000000,0,0.0,conventional,New Flyer conventional,0.0,0.0
304824,304824,196865,196865,310193,2022-04-05 15:27:03,310193,188912,8764,2022-04-05 00:00:00.000,2022,...,POINT (-72.57904 42.13794),0.208748,15.706615,0.056662,0 days 00:01:17,77.0,conventional,New Flyer conventional,0.0,0.0
304825,304825,197019,197019,310194,2022-04-05 15:29:36,310194,188913,8764,2022-04-05 00:00:00.000,2022,...,POINT (-72.57469 42.14085),0.306527,11.607189,-0.007443,0 days 00:02:33,153.0,conventional,New Flyer conventional,0.0,0.0
304826,304826,197217,197217,310195,2022-04-05 15:32:38,310195,188914,8764,2022-04-05 00:00:00.000,2022,...,POINT (-72.5829 42.13877),0.568886,18.109419,0.009924,0 days 00:03:02,182.0,conventional,New Flyer conventional,0.0,0.0
304827,304827,197263,197263,310196,2022-04-05 15:33:08,310196,188915,8764,2022-04-05 00:00:00.000,2022,...,POINT (-72.58431 42.13566),0.116737,22.544429,0.041065,0 days 00:00:30,30.0,conventional,New Flyer conventional,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1127243,1127243,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,0.0,0.0
1127244,1127244,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,0.0,0.0
1127245,1127245,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,0.0,0.0
1127246,1127246,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,0.0,0.0
1127247,1127247,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,0.0,0.0

In [6]:
unknown_vehicles=df_model.loc[df_model['Vehicle_mass'] == 0, 'Vehicle']
unknown_vehicle_list=unknown_vehicles.unique()
unknown_vehicle_list

array([1701, 1710, 1711, 1712, 1714, 1715, 1716, 1717, 1718, 1719, 1720,
       1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 1811, 1812,
       1813, 1814, 1815, 1817, 1819, 1821, 1822, 1823, 1824, 1825, 1826,
       3307, 3308, 7553, 7554, 7661, 7662, 7801, 7802, 7811, 7812, 7813,
       7814, 7815, 7902], dtype=int64)

In [7]:
check=df_model.loc[df_model['Vehicle'].isin(unknown_vehicle_list)]

In [8]:
check.columns

Index(['Unnamed: 0.4', 'Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0',
       'ServiceDateTime', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'DateKey',
       'CalendarDate', 'Year', 'Month', 'OpKey', 'Operator', 'RtKey', 'RtKey2',
       'Route', 'RouteName', 'TripKey', 'Trip', 'StopKey', 'Stop', 'StopName',
       'Lat', 'Lon', 'Vehicle', 'VehicleType', 'SeatedCap', 'TotalCap',
       'Boards', 'Alights', 'Onboard', 'Bike', 'Wheelchair', 'Weekday', 'Hour',
       'Minute', 'Second', 'Date', 'Daytype', 'time', 'geometry', 'dist',
       'Speed', 'Acceleration', 'time_delta', 'time_delta_in_seconds',
       'Powertrain', 'VehicleModel', 'Vehicle_mass', 'FuelRate/Energy'],
      dtype='object')

In [9]:
check.VehicleType.unique()

array(['2011 New Flyer', '2015 New Flyer 35ft', 'New Flyer 2020', '0',
       '2020 New Flyer', '2021', '2021 bus', '2022 New Flyer',
       '2011 NewFlyer', '2012 New Flyer', '2011 New Flyer 35ft', '7661',
       '7662', '2011 New Flyer - 7801', '2011 New Flyer - 7802',
       '2011 New Flyer - 7811', '2011 New Flyer - 7812',
       '2011 New Flyer - 7813', '2011 New Flyer - 7814',
       '2011 New Flyer - 7815', 'Articulated Buses - V9000'], dtype=object)

In [10]:
# UMTS
xls = pd.ExcelFile(r'../../data/raw/fuel-export-20130701-20220712.xlsx')
df_UMTS = pd.read_excel(xls, 'in')

In [12]:
UMTS_vehicles=df_UMTS['bus_number'].unique()

In [23]:
model_vehicles=df_model['Vehicle'].unique()

In [30]:
check_notin=df_UMTS.loc[~df_UMTS['bus_number'].isin(model_vehicles)]

In [31]:
check_in=df_UMTS.loc[df_UMTS['bus_number'].isin(model_vehicles)]

In [32]:
check_notin['bus_number'].unique()

array([3214, 3301, 3224, 3226, 3228, 3303, 3306, 3304, 3227, 3205, 3305,
       3309, 3203, 3212, 3225, 3221, 3202, 3213, 3201, 3310, 3222, 3123,
       3223, 3121, 3211, 3204, 3115, 3119, 3112, 3118, 3122, 3215, 3401,
       3402, 3302, 3311, 3312, 3315, 3314, 3313, 3318, 3316, 3317, 3319,
       3320, 3321, 3322, 3323, 3501, 3324, 3325, 3326], dtype=int64)

In [33]:
check_in['bus_number'].unique()

array([3307, 3308], dtype=int64)