In [220]:
import pandas as pd
import matplotlib.pyplot as plt

In [221]:
### Map powertrain

In [222]:
df = pd.read_csv(r'../../results/computed-trajectories.csv', delimiter=',', skiprows=0, low_memory=False)
df2 = pd.read_csv(r'../../data/tidy/vehicles summary.csv', delimiter=',', skiprows=0, low_memory=False)

In [223]:
df2.columns

Index(['Operator', 'Model', 'Type', 'Year', 'Equipment ID'], dtype='object')

In [224]:
len(df['Vehicle'].unique())

178

In [225]:
df.columns

Index(['Unnamed: 0.1', 'ServiceDateTime', 'Unnamed: 0', 'DateKey',
       'CalendarDate', 'Year', 'Month', 'OpKey', 'Operator', 'RtKey', 'RtKey2',
       'Route', 'RouteName', 'TripKey', 'Trip', 'StopKey', 'Stop', 'StopName',
       'Lat', 'Lon', 'Vehicle', 'VehicleType', 'SeatedCap', 'TotalCap',
       'Boards', 'Alights', 'Onboard', 'Bike', 'Wheelchair', 'Weekday', 'Hour',
       'Minute', 'Second', 'Date', 'Daytype', 'time', 'time_delta',
       'time_delta_in_seconds', 'dist', 'speed', 'acc'],
      dtype='object')

In [226]:
df['VehicleType'].unique()

array([nan, '2021 New Flyer', '2016 Proterra', '2020 Proterra',
       '2008 GILLIG LowFloor', '2010 GILLIG LowFloor',
       '2010 Gillig LowFloor', '2006 GILLIG LowFloor',
       '2008 GIllig LowFloor', '2008 Gillig LF', '2018 Gillig lowfloor',
       '2018 Gillig Lowfloor', '2018 Gillig Low Floor', '2011 New Flyer',
       '2015 New Flyer 35ft', 'New Flyer 2020', '2020 New Flyer', '2021',
       '2021 bus', '2022 New Flyer', '2011 NewFlyer', '2012 New Flyer',
       '2014 New Flyer', '2015 New Flyer', '2007 Gillig LowFloor',
       '2008 Gillig LowFloor', '2009 Gillig LowFloor',
       '2011 New Flyer 40ft', '2011 New Flyer 35ft',
       'Articulated Bus V9000', 'Electric New Flyer', 'D4 RADIO   5574',
       '7550', '7551', '7552', '7610', '7660', '7661', '7662',
       '2011 New Flyer - 7801', '2011 New Flyer - 7802',
       '2011 New Flyer - 7811', '2011 New Flyer - 7812',
       '2011 New Flyer - 7813', '2011 New Flyer - 7814',
       '2011 New Flyer - 7815', 'Articulated Buses - V9000'], dtype=object)

In [227]:
electric=df[df['VehicleType']=='Electric New Flyer']
electric['Vehicle'].unique()

array([3501], dtype=int64)

In [228]:
mydict = df2.groupby('Type')['Equipment ID'].agg(list).to_dict()
print (mydict)

{'conventional': [1406, 1510, 1513, 1515, 1618, 1619, 1621, 1630, 1632, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1561, 1562, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1701, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1821, 1822, 1823, 1824, 1825, 1826, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1710, 1711, 1712, 1713, 1714, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1670, 1671, 1672, 1673, 1715, 1716, 1717, 1718, 1719, 1720, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1721, 1722, 1723, 1857, 1858, 1859, 1860, 1861, 1724, 1725, 1726, 1727, 1728, 1729, 1862, 1863, 1864, 3211, 3307, 3308, 7610, 7550, 7551, 7660, 7661, 7662, 7552, 7801, 7802, 7811, 7812, 7813, 7814, 7815, 7902, 7553, 7554, 7816, 7817], 'electric': [1413, 1414, 1415, 1416, 1320, 1321, 1322, 1323, 1420, 1421, 7700, 3501], 'hybrid': [1801, 1802, 1803, 1804, 1805, 7901]}

In [229]:
d = {val:key for key, lst in mydict.items() for val in lst}
df['Powertrain'] = df['Vehicle'].map(d)

In [230]:
df['Powertrain'].unique()

array([nan, 'electric', 'conventional', 'hybrid'], dtype=object)

In [231]:
df['Powertrain']

0                   NaN
1                   NaN
2                   NaN
3                   NaN
4                   NaN
               ...
1361544    conventional
1361545    conventional
1361546    conventional
1361547    conventional
1361548    conventional
Name: Powertrain, Length: 1361549, dtype: object

In [232]:
len(df['Vehicle'].unique())

178

In [233]:
#df['Powertrain'] = df['Powertrain'].fillna('conventional')

In [234]:
unknown_vehicles=df.loc[df['Powertrain'] == 0 , 'VehicleType']
unknown_vehicle_list=unknown_vehicles.unique()
unknown_vehicle_list

array([], dtype=object)

In [235]:
#df.to_csv(r'../../results/trajectories-mapped-powertrain.csv')

In [236]:
### Map models

In [237]:
df2

                 Operator            Model          Type    Year  Equipment ID
0    CTF (Cottage Street)  2006 GILLIG 30`  conventional  2006.0          1406
1    CTF (Cottage Street)  2006 GILLIG 35`  conventional  2006.0          1510
2    CTF (Cottage Street)  2006 GILLIG 35`  conventional  2006.0          1513
3    CTF (Cottage Street)  2006 GILLIG 35`  conventional  2006.0          1515
4    CTF (Cottage Street)  2006 GILLIG 40`  conventional  2006.0          1618
..                    ...              ...           ...     ...           ...
219                  UMTS              NaN           NaN     NaN          3324
220                  UMTS              NaN           NaN     NaN          3325
221                  UMTS              NaN           NaN     NaN          3326
222                  UMTS              NaN           NaN     NaN          3401
223                  UMTS              NaN           NaN     NaN          3402

[224 rows x 5 columns]

In [183]:
df2['Model'].unique()

array(['2006 GILLIG 30`', '2006 GILLIG 35`', '2006 GILLIG 40`',
       '2007 GILLIG 40`', '2008 GILLIG 35`', '2008 GILLIG 40`',
       '2010 GILLIG 35`', '2010 GILLIG 40`', '2011 NEW FLYER XD35',
       '2011 NEW FLYER XD40', '2011 NEW FLYER XD40 (HYBRID)',
       '2012 NEW FLYER XD40', '2014 NEW FLYER XD40',
       '2015 NEW FLYER XD35', '2015 NEW FLYER XD40', '2018 GILLIG 40`',
       '2020 NEW FLYER XD35', '2020 NEW FLYER XD40',
       '2020 PROTERRA CATALYST BE-40 (ELECTRIC)', '2021 NEW FLYER XD35',
       '2021 NEW FLYER XD40', '2021 NEW FLYER XE35 (ELECTRIC)',
       '2021 NEW FLYER XE40 (ELECTRIC)', '2022 NEW FLYER XD35',
       '2022 NEW FLYER XD40', 'UMTS GILLIG', 'UMTS NEW FLYER',
       '2009 GILLIG 40`', nan, '2013 NEW FLYER XDE60 (ARTIC) (HYBRID)'],
      dtype=object)

In [184]:
df2.Model=df2.Model.astype(str).str.replace('2006 GILLIG 30`', 'Gillig 30 conventional')
df2.Model=df2.Model.astype(str).str.replace('2006 GILLIG 35`', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2006 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2007 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2008 GILLIG 35`', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2008 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2010 GILLIG 35`', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2010 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD40 (HYBRID)', 'New Flyer 40 hybrid')
df2.Model=df2.Model.astype(str).str.replace('2012 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2014 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2015 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2015 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2018 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2020 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2020 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')
df2.Model=df2.Model.astype(str).str.replace('2022 NEW FLYER XD35', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2022 NEW FLYER XD40', 'New Flyer 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('UMTS GILLIG', 'Gillig 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('UMTS NEW FLYER', 'New Flyer 35 conventional')
df2.Model=df2.Model.astype(str).str.replace('2009 GILLIG 40`', 'Gillig 40 conventional')
df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
df2.Model=df2.Model.astype(str).str.replace('2013 NEW FLYER XDE60 (ARTIC) (HYBRID)', 'New Flyer 60 hybrid')
#df2.Model=df2.Model.astype(str).str.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
#df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
#df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
#df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_28420\291724791.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2011 NEW FLYER XD40 (HYBRID)', 'New Flyer 40 hybrid')
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_28420\291724791.py:19: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_28420\291724791.py:22: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_28420\291724791.py:23: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_28420\291724791.py:29: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
C:\Users\Mahsa\AppData\Local\Temp\ipykernel_28420\291724791.py:30: FutureWarning: The default value of regex will change from True to False in a future version.
  df2.Model=df2.Model.astype(str).str.replace('2013 NEW FLYER XDE60 (ARTIC) (HYBRID)', 'New Flyer 60 hybrid')

In [185]:
df2.Model.unique()

array(['Gillig 30 conventional', 'Gillig 35 conventional',
       'Gillig 40 conventional', 'New Flyer 35 conventional',
       'New Flyer 40 conventional', 'New Flyer 40 conventional (HYBRID)',
       '2020 PROTERRA CATALYST BE-40 (ELECTRIC)',
       '2021 NEW FLYER XE35 (ELECTRIC)', '2021 NEW FLYER XE40 (ELECTRIC)',
       'nan', '2013 NEW FLYER XDE60 (ARTIC) (HYBRID)'], dtype=object)

In [186]:
mydict = df2.groupby('Model')['Equipment ID'].agg(list).to_dict()
print (mydict)

{'2013 NEW FLYER XDE60 (ARTIC) (HYBRID)': [7901], '2020 PROTERRA CATALYST BE-40 (ELECTRIC)': [1413, 1414, 1415, 1416], '2021 NEW FLYER XE35 (ELECTRIC)': [1320, 1321, 1322, 1323], '2021 NEW FLYER XE40 (ELECTRIC)': [1420, 1421, 7700, 3501], 'Gillig 30 conventional': [1406], 'Gillig 35 conventional': [1510, 1513, 1515, 1552, 1553, 1554, 1555, 1556, 1557, 1558, 1559, 1561, 1562, 1563, 1564, 1565, 1566, 1567, 1568, 1569, 1571, 1572, 1573, 1574, 1575, 1576, 1577, 1578, 3211, 7550, 7551, 7552], 'Gillig 40 conventional': [1618, 1619, 1621, 1630, 1632, 1640, 1641, 1642, 1643, 1644, 1645, 1646, 1647, 1648, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1670, 1671, 1672, 1673, 7610, 7660], 'New Flyer 35 conventional': [1701, 1710, 1711, 1712, 1713, 1714, 1715, 1716, 1717, 1718, 1719, 1720, 1721, 1722, 1723, 1724, 1725, 1726, 1727, 1728, 1729, 3307, 3308, 7553], 'New Flyer 40 conventional': [1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1821, 1822, 1823, 1824, 1825, 1826, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 7801, 7811, 7816, 7817], 'New Flyer 40 conventional (HYBRID)': [1801, 1802, 1803, 1804, 1805], 'nan': [7661, 7662, 7802, 7812, 7813, 7814, 7815, 7902, 7554, 3112, 3115, 3118, 3119, 3121, 3122, 3123, 3201, 3202, 3203, 3203, 3204, 3205, 3212, 3213, 3214, 3215, 3221, 3222, 3223, 3224, 3225, 3226, 3227, 3228, 3301, 3302, 3303, 3304, 3305, 3306, 3309, 3310, 3311, 3312, 3313, 3314, 3315, 3316, 3317, 3318, 3319, 3320, 3321, 3322, 3323, 3324, 3325, 3326, 3401, 3402]}

In [187]:
d = {val:key for key, lst in mydict.items() for val in lst}
df['VehicleModel'] = df['Vehicle'].map(d)

In [188]:
df['VehicleModel'].unique()

array([nan, '2021 NEW FLYER XE35 (ELECTRIC)',
       '2020 PROTERRA CATALYST BE-40 (ELECTRIC)',
       '2021 NEW FLYER XE40 (ELECTRIC)', 'Gillig 35 conventional',
       'Gillig 40 conventional', 'New Flyer 35 conventional',
       'New Flyer 40 conventional (HYBRID)', 'New Flyer 40 conventional',
       'nan', '2013 NEW FLYER XDE60 (ARTIC) (HYBRID)'], dtype=object)

In [189]:
df.VehicleModel=df.VehicleModel.replace('2013 NEW FLYER XDE60 (ARTIC) (HYBRID)', 'New Flyer 60 hybrid')
df.VehicleModel=df.VehicleModel.replace('2021 NEW FLYER XE40 (ELECTRIC)', 'New Flyer 40 electric')
df.VehicleModel=df.VehicleModel.replace('2021 NEW FLYER XE35 (ELECTRIC)', 'New Flyer 35 electric')
df.VehicleModel=df.VehicleModel.replace('2020 PROTERRA CATALYST BE-40 (ELECTRIC)', 'Proterra 40 electric')
df.VehicleModel=df.VehicleModel.replace('New Flyer conventional (HYBRID)', 'New Flyer 60 hybrid')

In [190]:
df['VehicleModel'].unique()

array([nan, 'New Flyer 35 electric', 'Proterra 40 electric',
       'New Flyer 40 electric', 'Gillig 35 conventional',
       'Gillig 40 conventional', 'New Flyer 35 conventional',
       'New Flyer 40 conventional (HYBRID)', 'New Flyer 40 conventional',
       'nan', 'New Flyer 60 hybrid'], dtype=object)

In [191]:
# weights for different models
#thisdict = {
#  42250: ["New Flyer 60 hybrid"],
#  26440: ["Gillig conventional"],
#  26900: ["New Flyer conventional"],
#  26900: ["New Flyer 40 conventional"],
#  27180: ["Gillig 40 conventional"],
#  26000: ["New Flyer 35 conventional"],
#  27370: ["Proterra 40 electric"],
#  32770: ["New Flyer 40 electric"],
#  26900: ["New Flyer 35 electric"],
#  42250: ['2013 NEW FLYER XDE60 (ARTIC) (HYBRID)'],
#  26440: ['Gillig 35 conventional'],
#  27370: ['2020 PROTERRA CATALYST BE-40 (ELECTRIC)'],
#  28250: ['New Flyer 40 conventional (HYBRID)'],
#  32770: ['2021 NEW FLYER XE40 (ELECTRIC)'],
#  26900: ['2021 NEW FLYER XE35 (ELECTRIC)']  ,
#}

In [192]:
# weights for different models
#thisdict = {
#  "New Flyer 60 hybrid":42250,
#  "Gillig conventional": 26440,
#  "New Flyer conventional": 27180 ,
#  "New Flyer 40 conventional": 26000 ,
#  "Gillig 40 conventional": 27180 ,
#  "New Flyer 35 conventional": 26900 ,
#  "Proterra 40 electric": 27370 ,
#  "New Flyer 40 electric": 32770 ,
#  "New Flyer 35 electric": 26900 ,
#  "2013 NEW FLYER XDE60 (ARTIC) (HYBRID)": 42250,
#  'Gillig 35 conventional': 26440,
#  '2020 PROTERRA CATALYST BE-40 (ELECTRIC)': 27370,
#  'New Flyer 40 conventional (HYBRID)': 28250,
#  '2021 NEW FLYER XE40 (ELECTRIC)': 32770,
#  '2021 NEW FLYER XE35 (ELECTRIC)': 26900,     
# }

In [193]:
#d = {val:key for key, lst in thisdict.items() for val in lst}
# df['VehiclWeight(lb)'] = df['VehicleModel'].map(thisdict)

In [194]:
# df['VehiclWeight(lb)'].unique()

In [195]:
#df['VehiclWeight(lb)'] = df['VehiclWeight(lb)'].fillna('26900')

In [196]:
# df['VehiclWeight(lb)'].unique()

In [197]:
len(df['Vehicle'].unique())

178

In [198]:
#df.to_csv(r'../../results/trajectories-mapped-powertrain-weight.csv')

In [199]:
#df = pd.read_csv(r'../../results/trajectories-mapped-powertrain-weight.csv', delimiter=',', skiprows=0, low_memory=False)

In [200]:
df.head()

,Unnamed: 0.1,ServiceDateTime,Unnamed: 0,DateKey,CalendarDate,Year,Month,OpKey,Operator,RtKey,...,Date,Daytype,time,time_delta,time_delta_in_seconds,dist,speed,acc,Powertrain,VehicleModel
0,0,2022-04-04 06:43:24,112564,8763,2022-04-04 00:00:00.000,2022,4,1,VATCo,3519,...,2022-04-04,Weekday,06:43:24,NaN,NaN,0.000000,0.000000,0.000000,NaN,NaN
1,1,2022-04-04 06:51:27,109326,8763,2022-04-04 00:00:00.000,2022,4,1,VATCo,3513,...,2022-04-04,Weekday,06:51:27,2022-07-28 00:08:03,483.0,0.627342,0.000000,0.000000,NaN,NaN
2,2,2022-04-04 06:51:27,112565,8763,2022-04-04 00:00:00.000,2022,4,1,VATCo,3519,...,2022-04-04,Weekday,06:51:27,2022-07-28 00:00:00,0.0,0.000000,0.000000,0.000000,NaN,NaN
3,3,2022-04-04 06:52:52,109327,8763,2022-04-04 00:00:00.000,2022,4,1,VATCo,3513,...,2022-04-04,Weekday,06:52:52,2022-07-28 00:01:25,85.0,0.313431,13.274729,0.069816,NaN,NaN
4,4,2022-04-04 06:54:33,109328,8763,2022-04-04 00:00:00.000,2022,4,1,VATCo,3513,...,2022-04-04,Weekday,06:54:33,2022-07-28 00:01:41,101.0,0.421734,15.032101,0.007778,NaN,NaN

In [201]:
len(df['Vehicle'].unique())

178

In [202]:
#df.loc[df['VehicleModel'].eq(' '), 'VehicleModel'] = df.loc[df['VehicleType'].eq(' '), 'VehicleType'].values

In [203]:
df['VehicleModel'].unique()

array([nan, 'New Flyer 35 electric', 'Proterra 40 electric',
       'New Flyer 40 electric', 'Gillig 35 conventional',
       'Gillig 40 conventional', 'New Flyer 35 conventional',
       'New Flyer 40 conventional (HYBRID)', 'New Flyer 40 conventional',
       'nan', 'New Flyer 60 hybrid'], dtype=object)

In [204]:
df.VehicleModel.fillna(df.VehicleType, inplace=True)

In [205]:
df['VehicleModel'].unique()

array([nan, 'New Flyer 35 electric', '2016 Proterra',
       'Proterra 40 electric', 'New Flyer 40 electric',
       'Gillig 35 conventional', 'Gillig 40 conventional',
       'New Flyer 35 conventional', 'New Flyer 40 conventional (HYBRID)',
       'New Flyer 40 conventional', 'nan', 'D4 RADIO   5574',
       'New Flyer 60 hybrid'], dtype=object)

In [206]:
### Assign hybrid powertrain and fill all others with conventional
df.loc[df['VehicleModel'] == 'New Flyer 60 hybrid', 'Powertrain'] = 'hybrid'
df.loc[df['VehicleModel'] == 'New Flyer 40 conventional (HYBRID)', 'Powertrain'] = 'hybrid'
df['Powertrain'] = df['Powertrain'].fillna('conventional')

In [207]:
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2016 Proterra', 'Proterra 40 electric')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('New Flyer 40 conventional (HYBRID)', 'New Flyer 40 hybrid')
# Articulatedd buses
df.VehicleModel=df.VehicleModel.astype(str).str.replace('Articulated Bus V9000', 'Articulated Bus conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('Articulated Buses - V9000', 'Articulated Bus conventional')
# I considered all the Gillig with unknown capacity as Gillig 35 (mean)
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2007 Gillig LowFloor', 'Gillig 35 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2008 Gillig LowFloor', 'Gillig 35 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2009 Gillig LowFloor', 'Gillig 35 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2011 New Flyer 40ft', 'New Flyer 40 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2011 New Flyer 35ft', 'New Flyer 35 conventional')
# I considered all New Flyer with unknown capacity as New Flyer 40
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2014 New Flyer', 'New Flyer 40 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2020 New Flyer', 'New Flyer 40 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2021 New Flyer', 'New Flyer 40 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2022 New Flyer', 'New Flyer 40 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('New Flyer 2020', 'New Flyer 40 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2011 New Flyer - 7813', 'New Flyer 40 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2011 New Flyer - 7815', 'New Flyer 40 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2011 New Flyer - 7802', 'New Flyer 40 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2011 New Flyer - 7812', 'New Flyer 40 conventional')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('2011 New Flyer - 7814', 'New Flyer 40 conventional')
#Unknown
df.VehicleModel=df.VehicleModel.astype(str).str.replace('D4 RADIO   5574', 'D4 RADIO   5574')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('7661', '7661')
df.VehicleModel=df.VehicleModel.astype(str).str.replace('7662', '7662')

C:\Users\Mahsa\AppData\Local\Temp\ipykernel_28420\2865980821.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df.VehicleModel=df.VehicleModel.astype(str).str.replace('New Flyer 40 conventional (HYBRID)', 'New Flyer 40 hybrid')

In [208]:
df['VehicleModel'].unique()

array(['nan', 'New Flyer 35 electric', 'Proterra 40 electric',
       'New Flyer 40 electric', 'Gillig 35 conventional',
       'Gillig 40 conventional', 'New Flyer 35 conventional',
       'New Flyer 40 conventional (HYBRID)', 'New Flyer 40 conventional',
       'D4 RADIO   5574', 'New Flyer 60 hybrid'], dtype=object)

In [209]:
### Find unique vehicle IDs with unknown vehicle type
df['Vehicle'][df['VehicleModel']=='nan'].unique()

array([1205, 3212, 3221, 3222, 3223, 3225, 3226, 3228, 3301, 3302, 3303,
       3304, 3305, 3306, 3309, 3310, 3311, 3312, 3313, 3314, 3316, 3317,
       3318, 3319, 3320, 3321, 3322, 3323, 3324, 3325, 3326, 3401, 3402,
       7554, 7661, 7662, 7802, 7812, 7813, 7814, 7815, 7902], dtype=int64)

In [210]:
### We have 4 unknown models: 5574, 7661, 7662, 1205 and 
### we considered: 
# 1205 = gillig 35
df.loc[df['Vehicle'] == 1205, 'VehicleModel'] = 'Gillig 35 conventional'
# 5574 = gillig 35
df.VehicleModel=df.VehicleModel.astype(str).str.replace('D4 RADIO   5574', 'Gillig 35 conventional')
# 7661 = gillig 40
df.VehicleModel=df.VehicleModel.astype(str).str.replace('7661', 'Gillig 40 conventional')
# 7662 = gillig 40
df.VehicleModel=df.VehicleModel.astype(str).str.replace('7662', 'Gillig 40 conventional')

In [211]:
df['VehicleModel'].unique()

array(['Gillig 35 conventional', 'New Flyer 35 electric',
       'Proterra 40 electric', 'New Flyer 40 electric',
       'Gillig 40 conventional', 'New Flyer 35 conventional',
       'New Flyer 40 conventional (HYBRID)', 'New Flyer 40 conventional',
       'nan', 'New Flyer 60 hybrid'], dtype=object)

In [212]:
# Assigning weights to the models

In [213]:
# weights for different models
thisdict = {
  "New Flyer 60 hybrid":42250,
  "New Flyer 40 conventional": 26000 ,
  "Gillig 40 conventional": 27180 ,
  "New Flyer 35 conventional": 26900 ,
  "New Flyer 40 electric": 32770 ,
  "New Flyer 35 electric": 26900 ,
  'Gillig 35 conventional': 26440,
  'Proterra 40 electric': 27370,
  'New Flyer 40 conventional (HYBRID)': 28250,
  'Articulated Bus conventional': 44000,  
}

In [214]:
df['VehiclWeight(lb)'] = df['VehicleModel'].map(thisdict)

In [215]:
df['VehiclWeight(lb)'].unique()

array([26440., 26900., 27370., 32770., 27180., 28250., 26000.,    nan,
       42250.])

In [217]:
df['VehicleModel'][df['Vehicle']==7812]

1318394    nan
1318395    nan
1318396    nan
1318397    nan
1318398    nan
          ...
1324334    nan
1324335    nan
1324336    nan
1324337    nan
1324338    nan
Name: VehicleModel, Length: 5945, dtype: object

In [218]:
df['VehicleModel'].unique()

array(['Gillig 35 conventional', 'New Flyer 35 electric',
       'Proterra 40 electric', 'New Flyer 40 electric',
       'Gillig 40 conventional', 'New Flyer 35 conventional',
       'New Flyer 40 conventional (HYBRID)', 'New Flyer 40 conventional',
       'nan', 'New Flyer 60 hybrid'], dtype=object)

In [219]:
df['Vehicle'][df['VehicleModel']=='nan'].unique()

array([3212, 3221, 3222, 3223, 3225, 3226, 3228, 3301, 3302, 3303, 3304,
       3305, 3306, 3309, 3310, 3311, 3312, 3313, 3314, 3316, 3317, 3318,
       3319, 3320, 3321, 3322, 3323, 3324, 3325, 3326, 3401, 3402, 7554,
       7661, 7662, 7802, 7812, 7813, 7814, 7815, 7902], dtype=int64)

In [216]:
# save the final data frame with mapped model and weights
df.to_csv(r'../../results/trajectories-mapped-powertrain-weight.csv')