In [1]:
import pandas as pd

In [2]:
df_final = pd.read_csv(r'../../results/fuel-rates-CDB-CHB.csv', delimiter=',', skiprows=0, low_memory=False)

In [4]:
df_final.columns

Index(['Unnamed: 0.4', 'Unnamed: 0.3', 'Unnamed: 0.2', 'Unnamed: 0',
       'ServiceDateTime', 'Unnamed: 0.1', 'Unnamed: 0.1.1', 'DateKey',
       'CalendarDate', 'Year', 'Month', 'OpKey', 'Operator', 'RtKey', 'RtKey2',
       'Route', 'RouteName', 'TripKey', 'Trip', 'StopKey', 'Stop', 'StopName',
       'Lat', 'Lon', 'Vehicle', 'VehicleType', 'SeatedCap', 'TotalCap',
       'Boards', 'Alights', 'Onboard', 'Bike', 'Wheelchair', 'Weekday', 'Hour',
       'Minute', 'Second', 'Date', 'Daytype', 'time', 'geometry', 'dist',
       'Speed', 'Acceleration', 'time_delta', 'time_delta_in_seconds',
       'Powertrain', 'VehicleModel', 'Vehicle_mass', 'FuelRate(L/s)'],
      dtype='object')

In [5]:
df_final.Vehicle_mass

0          26440.0
1          26440.0
2          26440.0
3          26440.0
4          26440.0
            ...
1099395        0.0
1099396        0.0
1099397        0.0
1099398        0.0
1099399        0.0
Name: Vehicle_mass, Length: 1099400, dtype: float64

In [11]:
zeros = df_final[df_final['FuelRate(L/s)'] == 0]
zeros

Empty DataFrame
Columns: [Unnamed: 0.3, Unnamed: 0.2, Unnamed: 0, ServiceDateTime, Unnamed: 0.1, Unnamed: 0.1.1, DateKey, CalendarDate, Year, Month, OpKey, Operator, RtKey, RtKey2, Route, RouteName, TripKey, Trip, StopKey, Stop, StopName, Lat, Lon, Vehicle, VehicleType, SeatedCap, TotalCap, Boards, Alights, Onboard, Bike, Wheelchair, Weekday, Hour, Minute, Second, Date, Daytype, time, geometry, dist, Speed, Acceleration, time_delta, time_delta_in_seconds, Powertrain, VehicleModel, Vehicle_mass, FuelRate(L/s)]
Index: []

[0 rows x 49 columns]

In [12]:
for i in df_final.index:
    if i==0:
        df_final.at[i , 'FuelRate(L/s)'] = 0
    elif df_final['Vehicle_mass']==0:
        df_final.at[i , 'FuelRate(L/s)'] = 0
    else:
        if df_final['Vehicle'].loc[i]==df_final['Vehicle'].loc[i-1]:
            if df_final['Date'].loc[i]!=df_final['Date'].loc[i-1]:
                df_final.at[i , 'FuelRate(L/s)'] = 0
        else:
            df_final.at[i , 'FuelRate(L/s)'] = 0

In [13]:
df_final

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0,ServiceDateTime,Unnamed: 0.1,Unnamed: 0.1.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,FuelRate(L/s)
0,1415,1415,33217,2022-04-01 05:55:38,33217,43687,8760,2022-04-01 00:00:00.000,2022,4,...,POINT (-72.52602 42.14099),0.000000,0.000000,0.000000,0,0.0,conventional,Gillig conventional,26440.0,0.000000
1,1591,1591,33219,2022-04-01 06:04:01,33219,43689,8760,2022-04-01 00:00:00.000,2022,4,...,POINT (-72.54524 42.13793),0.000000,0.000000,0.000000,0 days 00:08:23,503.0,conventional,Gillig conventional,26440.0,0.000566
2,1592,1592,33218,2022-04-01 06:04:01,33218,41707,8760,2022-04-01 00:00:00.000,2022,4,...,POINT (-72.54524 42.13793),1.329491,15.313257,0.008457,0 days 00:00:00,0.0,conventional,Gillig conventional,26440.0,0.001251
3,1646,1646,33220,2022-04-01 06:05:51,33220,41708,8760,2022-04-01 00:00:00.000,2022,4,...,POINT (-72.54618 42.13219),0.135532,7.138389,0.018026,0 days 00:01:50,110.0,conventional,Gillig conventional,26440.0,0.000867
4,1656,1656,33221,2022-04-01 06:06:13,33221,41709,8760,2022-04-01 00:00:00.000,2022,4,...,POINT (-72.54585 42.12965),0.057365,15.106779,0.100611,0 days 00:00:22,22.0,conventional,Gillig conventional,26440.0,0.002177
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099395,1361526,1361526,1361544,2022-04-30 23:54:20,1361544,1325566,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53185 42.38201),0.254140,10.517075,0.003673,0 days 00:02:20,140.0,conventional,0,0.0,0.000578
1099396,1361530,1361530,1361545,2022-04-30 23:55:24,1361545,1325567,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.5327 42.375),0.156799,14.194300,0.015960,0 days 00:01:04,64.0,conventional,0,0.0,0.000586
1099397,1361539,1361539,1361546,2022-04-30 23:56:47,1361546,1325568,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53357 42.36864),0.144950,10.117888,-0.013643,0 days 00:01:23,83.0,conventional,0,0.0,0.000573
1099398,1361541,1361541,1361547,2022-04-30 23:57:32,1361547,1325569,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.53556 42.3656),0.151259,19.474153,0.057755,0 days 00:00:45,45.0,conventional,0,0.0,0.000599
1099399,1361546,1361546,1361548,2022-04-30 23:59:29,1361548,1325570,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.54673 42.35999),0.780486,38.648220,0.045523,0 days 00:01:57,117.0,conventional,0,0.0,0.000638

In [14]:
zeros = df_final[df_final['FuelRate(L/s)'] == 0]
zeros

,Unnamed: 0.3,Unnamed: 0.2,Unnamed: 0,ServiceDateTime,Unnamed: 0.1,Unnamed: 0.1.1,DateKey,CalendarDate,Year,Month,...,geometry,dist,Speed,Acceleration,time_delta,time_delta_in_seconds,Powertrain,VehicleModel,Vehicle_mass,FuelRate(L/s)
0,1415,1415,33217,2022-04-01 05:55:38,33217,43687,8760,2022-04-01 00:00:00.000,2022,4,...,POINT (-72.52602 42.14099),0.0,0.0,0.0,0,0.0,conventional,Gillig conventional,26440.0,0.0
317,56565,56565,33534,2022-04-02 07:30:24,33534,82472,8761,2022-04-02 00:00:00.000,2022,4,...,POINT (-72.64058 42.16925),0.0,0.0,0.0,0,0.0,conventional,Gillig conventional,26440.0,0.0
494,137578,137578,33711,2022-04-04 14:03:19,33711,152869,8763,2022-04-04 00:00:00.000,2022,4,...,POINT (-72.52602 42.14099),0.0,0.0,0.0,0,0.0,conventional,Gillig conventional,26440.0,0.0
550,163594,163594,33767,2022-04-05 05:35:57,33767,206331,8764,2022-04-05 00:00:00.000,2022,4,...,POINT (-72.52602 42.14099),0.0,0.0,0.0,0,0.0,conventional,Gillig conventional,26440.0,0.0
988,217526,217526,34205,2022-04-06 06:00:39,34205,259175,8765,2022-04-06 00:00:00.000,2022,4,...,POINT (-72.52602 42.14099),0.0,0.0,0.0,0,0.0,conventional,Gillig conventional,26440.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1097940,1136687,1136687,1360089,2022-04-26 14:20:25,1360089,1109429,8785,2022-04-26 00:00:00.000,2022,4,...,POINT (-72.63755 42.31962),0.0,0.0,0.0,0,0.0,conventional,0,0.0,0.0
1098095,1167154,1167154,1360244,2022-04-27 07:49:01,1360244,1160503,8786,2022-04-27 00:00:00.000,2022,4,...,POINT (-72.62941 42.33355),0.0,0.0,0.0,0,0.0,conventional,0,0.0,0.0
1098338,1214975,1214975,1360487,2022-04-28 00:01:26,1360487,1217284,8787,2022-04-28 00:00:00.000,2022,4,...,POINT (-72.58867 42.34236),0.0,0.0,0.0,0,0.0,conventional,0,0.0,0.0
1098574,1268760,1268760,1360723,2022-04-29 00:01:21,1360723,1271198,8788,2022-04-29 00:00:00.000,2022,4,...,POINT (-72.58867 42.34236),0.0,0.0,0.0,0,0.0,conventional,0,0.0,0.0
1098870,1323709,1323709,1361019,2022-04-30 00:02:08,1361019,1325542,8789,2022-04-30 00:00:00.000,2022,4,...,POINT (-72.55013 42.3559),0.0,0.0,0.0,0,0.0,conventional,0,0.0,0.0

In [16]:
df_final.to_csv(r'../../results/fuel-rates-CDB-CHB.csv')